version: '3.1'
services:
  mysql:
    image: 'mysql:8.0'
    working_dir: /application
    environment:
      MYSQL_DATABASE: 'cinema'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    volumes:
      - '.:/application'

