{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <div class="container" id="reserv">
    <table>
        <tr>
            {% for letter in 'a'..'j' %}
              <td> {{ letter }}</td>
            {% endfor %}
        </tr>
        {% for i in 1..room.row_count %}
            <tr>
                {% for i in 1..room.row_seat_count  %}
                    <td><input type="checkbox"></td>
                {% endfor %}
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
