{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        <button type="submit" >Confirm</button>
    {{ form_end(form) }}

    <p><img src="https://media.tenor.com/RZu6yUJNz-gAAAAj/jp2.gif" alt="papaj" height="200px" width="200px"></p><p><img src="https://media.tenor.com/i0FNNRkmS94AAAAM/papie%C5%BC-papiesz.gif" alt="papaj" height="200px" width="200px"></p
    {% endblock %}
