{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        <button type="submit" >Confirm</button>
    {{ form_end(form) }}
    {% endblock %}
