{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('app_payment_success') }}"><button type="submit" id="btn">Succesful</button></a>
        <a href="{{ path('app_payment_failed') }}">
            <button type="submit" id="btnF">Failed</button>
        </a>
    </div>
{% endblock %}
